<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Timothy ipsum dolor sit amet consectetur, adipisicing elit. Quasi consequatur atque libero, cupiditate quam quis ipsa nam totam nihil sint reprehenderit architecto tempora vitae nesciunt aperiam incidunt corporis non veniam dignissimos, fugiat natus nulla magnam cum qui. Possimus cum omnis, modi sequi tempora itaque ex quam praesentium illo sunt pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi consequatur atque libero, cupiditate quam quis ipsa nam totam nihil sint reprehenderit architecto tempora vitae nesciunt aperiam incidunt corporis non veniam dignissimos, fugiat natus nulla magnam cum qui. Possimus cum omnis, modi sequi tempora itaque ex quam praesentium illo sunt pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi consequatur atque libero, cupiditate quam quis ipsa nam totam nihil sint reprehenderit architecto tempora vitae nesciunt aperiam incidunt corporis non veniam dignissimos, fugiat natus nulla magnam cum qui. Possimus cum omnis, modi sequi tempora itaque ex quam praesentium illo sunt pariatur.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>